@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Open+Sans:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&family=Scope+One&display=swap');
@import './varables';


li{
  list-style: none;
}
*{
  padding:0;
  margin: 0;
}
input[type=text]{
  border-radius: 12px;
}
button{
  display: inline-block;
        border-radius: 10px;
        border: 4px double #cccccc;
        text-align: center;
        padding:3px;
        cursor: pointer;
        
  
  
}

img{
  max-height:50px;
  border-radius:50px;

}

body{
  min-height:100vh;
  background-image: $contrast-color;
  
  @media(max-width:1000px){
    background-color: #0053e3;
    background-image: none;
  }
}


.grid{
  display:grid;

  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
  "sidebar  header"
  "sidebar  main"
  "sidebar  main";
  min-height:100vh;
  height:100%;
  gap:20px;
}

header{
  background-color: rgba($green100, 0.3);
  box-shadow: 5px 11px black;
  grid-area: header;
  font-family:Arial, Helvetica, sans-serif;

  
  display:grid;
  min-width:100%;
  margin-left: -30px;
  grid-template-columns: 4fr 2.5fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "topleft topright"
  "bottomleft bottomright";

  
  

  
    
    
    .half-left-top{
      display:flex;
      align-items: center;
      grid-area: topleft;
      gap:20px;
      margin-left:20px;


      input{
        flex:.95;
        padding:5px;
      }

  }
    
    .half-right-top{
      grid-area: topright;
      display:flex;
      align-items: center;
      justify-content:flex-end;
      margin-right:3em;
      gap:20px;
      
      img{
        height: 30px;
        
        padding:.4em;
      }
    }
  
// ------------------------------  //
    .half-left-bot{ 
      grid-area:bottomleft;
      margin-left:20px;
      display:flex;
      align-items: center;
      gap:20px;
      
     
    }
    .half-right-bot{
      grid-area:bottomright;
      display:flex;
      align-items: center;
      justify-content: space-around;
      margin-right:20px;



      button{

        flex-basis:7em;
        background-color:  rgba(white, 0.6);
        border-radius: 15px;
        font-weight:600;
        color:black;
        &:hover{
          background-color: rgba(white, 0.7);
        }
        
     
      

      }
      
    }
  }

.card-project-{
  &1,&2,
  &3,&4,
  &5,&6{
    
    padding:20px;
    display:grid;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    border:1.5px solid black;
    border-top-right-radius: 10px;
    max-width:60ch;

    &>div>p{
      margin-top:1em;
      line-height: 1.5;
    }
    
    
  }
}
.bottomicons{
  display:flex;
  justify-content: flex-end;
  gap:20px;
  
  &>img{
    width:1.8em;
    padding:5px;  
  
    &:hover{
      background-color: $green500;
      cursor: pointer;
    }
  }
}
main{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
  grid-area: main;
  display:grid;
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: .1fr;
  grid-template-areas:
  "project-title . announce-title"
  "one two right"
  "three four right"
  "five six right";
  gap:3em;
  padding:20px;


  

  .announcements__title{
    grid-area:announce-title;
    height:fit-content;
    
    
  }
  .projects__title{
    grid-area:project-title;
    height:fit-content;
    
  }

  .card-project-{

  


    &1{
      background-color: $green200;
      grid-area:one;
      &:hover{
        background-color: rgba($green200, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
      }

        
    }
    &2{
      background-color: $green300;
      grid-area:two;
      &:hover{
        background-color: rgba($green300, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
      }
    }
    &3{
      background-color: $green300;
      grid-area:three;
      &:hover{
        background-color: rgba($green300, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
      }
    }
    &4{
      background-color: $green200;
      grid-area:four;
      &:hover{
        background-color: rgba($green200, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
        
      }
      
    }

    &5{
      background-color: $green200;
      grid-area:five;
      margin-bottom:40px;
      &:hover{
        background-color: rgba($green200, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
      }
    }
    &6{
      background-color: $green300;
      grid-area:six;
      margin-bottom:40px;
      
      
      &:hover{
        background-color: rgba($green300, 0.9);
        transition: 200ms ease-in;
        transform:scale(1.01)
      }
    }
  }
  .right-blocks{
    grid-area:right;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    margin-right:2em;

    &>h2{
      margin-top: .5em;
      margin-bottom: -.7em;

    }

    .announcments{
      background-color: rgba($green300, 0.8);
      flex:1;
      display:flex;
      flex-direction:column;
      border:2px solid black;
      padding:2em;
      border-radius: 12px;
      max-width:20em;
      justify-content: space-around;
      gap:1em;
      
      .line{
        border-bottom: 2px solid $green600;
      }
      
      &>div>p{
        margin-top:.4rem;
        
        
      }
      

    
    }
    .trending{
      background-color:  rgba($green300, 0.8);
      flex:1;
      border:2px solid black;
      padding: 2em;
      margin-bottom:40px;
      border-radius: 12px;
      max-width:20em;
      gap:2em;
      line-height:1.4;

      
      display:flex;
      flex-direction: column;
      
     &>div{
       display:flex;
       gap:.5em;
       
     }
    } 

  }

}

.sidebar{
  font-family: 'Heebo', sans-serif;
  background-color: $green100;
  grid-area: sidebar;
  display:flex;
  flex-direction: column;
  gap:60px;
  font-size: clamp(1.2rem, 1.3vw, 1.9rem);
  font-weight:500;
  min-width:13rem;
  height:100%;

  

  
  .section-1 .iconmain{
    
      width:2em;
      margin-left:-15px;
      vertical-align:middle;
    }

  .section-1,
  .section-2,
  .section-3{
    padding-left:30px;
    gap:20px;
    user-select:none;
    
    & > p{
      &:hover{
        background-color: $green500;
        cursor: pointer;
        
      }
    }
    
    .icon{
      vertical-align: bottom;
      width:1em;
      margin-right:20px;
      position: relative;
      bottom:.3em;
      
      

    }
   
  
  }  
  .section-1{
    margin-top:10px;
  
  }
  .section-2{
    display:flex;
    margin-top: -20px;
    flex-direction:column;

    
  
  }
  .section-3{
    display:flex;
    flex-direction: column;
  }
}

