@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Open+Sans:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&family=Scope+One&display=swap");
a {
  text-decoration: none;
  color: inherit;
  background-color: #bbf7d0;
}

* {
  padding: 0;
  margin: 0;
}

input[type=text] {
  border-radius: 12px;
}

button {
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  padding: 3px;
  cursor: pointer;
}

img {
  max-height: 50px;
  border-radius: 50px;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #a5ceb5, #6cbdb3, #17aabd, #0093c7, #0076c6, #006ac9, #005cc9, #074dc7, #0150d5, #0053e3, #0056f1, #0059ff);
}
@media (max-width: 1000px) {
  body {
    background-color: #0053e3;
    background-image: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: "sidebar  header" "sidebar  main" "sidebar  main";
  min-height: 100vh;
  height: 100%;
  gap: 20px;
}

header {
  background-color: rgba(220, 252, 231, 0.3);
  box-shadow: 5px 11px black;
  grid-area: header;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  min-width: 100%;
  margin-left: -30px;
  grid-template-columns: 4fr 2.5fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "topleft topright" "bottomleft bottomright";
}
header .half-left-top {
  display: flex;
  align-items: center;
  grid-area: topleft;
  gap: 20px;
  margin-left: 20px;
}
header .half-left-top input {
  flex: 0.95;
  padding: 5px;
}
header .half-right-top {
  grid-area: topright;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3em;
  gap: 20px;
}
header .half-right-top img {
  height: 30px;
  padding: 0.4em;
}
header .half-left-bot {
  grid-area: bottomleft;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
header .half-right-bot {
  grid-area: bottomright;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
header .half-right-bot button {
  flex-basis: 7em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  font-weight: 600;
  color: black;
}
header .half-right-bot button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.card-project-1, .card-project-2, .card-project-3, .card-project-4, .card-project-5, .card-project-6 {
  padding: 20px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  border: 1.5px solid black;
  border-top-right-radius: 10px;
  max-width: 60ch;
}
.card-project-1 > div > p, .card-project-2 > div > p, .card-project-3 > div > p, .card-project-4 > div > p, .card-project-5 > div > p, .card-project-6 > div > p {
  margin-top: 1em;
  line-height: 1.5;
}

.bottomicons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.bottomicons > img {
  width: 1.8em;
  padding: 5px;
}
.bottomicons > img:hover {
  background-color: #22c55e;
  cursor: pointer;
}

main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: 0.1fr;
  grid-template-areas: "project-title . announce-title" "one two right" "three four right" "five six right";
  gap: 3em;
  padding: 20px;
}
main .announcements__title {
  grid-area: announce-title;
  height: fit-content;
}
main .projects__title {
  grid-area: project-title;
  height: fit-content;
}
main .card-project-1 {
  background-color: #bbf7d0;
  grid-area: one;
}
main .card-project-1:hover {
  background-color: rgba(187, 247, 208, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .card-project-2 {
  background-color: #86efac;
  grid-area: two;
}
main .card-project-2:hover {
  background-color: rgba(134, 239, 172, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .card-project-3 {
  background-color: #86efac;
  grid-area: three;
}
main .card-project-3:hover {
  background-color: rgba(134, 239, 172, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .card-project-4 {
  background-color: #bbf7d0;
  grid-area: four;
}
main .card-project-4:hover {
  background-color: rgba(187, 247, 208, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .card-project-5 {
  background-color: #bbf7d0;
  grid-area: five;
  margin-bottom: 40px;
}
main .card-project-5:hover {
  background-color: rgba(187, 247, 208, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .card-project-6 {
  background-color: #86efac;
  grid-area: six;
  margin-bottom: 40px;
}
main .card-project-6:hover {
  background-color: rgba(134, 239, 172, 0.9);
  transition: 200ms ease-in;
  transform: scale(1.01);
}
main .right-blocks {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 2em;
}
main .right-blocks > h2 {
  margin-top: 0.5em;
  margin-bottom: -0.7em;
}
main .right-blocks .announcments {
  background-color: rgba(134, 239, 172, 0.8);
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 2em;
  border-radius: 12px;
  max-width: 20em;
  justify-content: space-around;
  gap: 1em;
}
main .right-blocks .announcments .line {
  border-bottom: 2px solid #16a34a;
}
main .right-blocks .announcments > div > p {
  margin-top: 0.4rem;
}
main .right-blocks .trending {
  background-color: rgba(134, 239, 172, 0.8);
  flex: 1;
  border: 2px solid black;
  padding: 2em;
  margin-bottom: 40px;
  border-radius: 12px;
  max-width: 20em;
  gap: 2em;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
main .right-blocks .trending > div {
  display: flex;
  gap: 0.5em;
}

.sidebar {
  font-family: "Heebo", sans-serif;
  background-color: #dcfce7;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: clamp(1.2rem, 1.3vw, 1.9rem);
  font-weight: 500;
  min-width: 13rem;
  height: 100%;
}
.sidebar .section-1 .iconmain {
  width: 2em;
  margin-left: -15px;
  vertical-align: middle;
}
.sidebar .section-1,
.sidebar .section-2,
.sidebar .section-3 {
  padding-left: 30px;
  gap: 20px;
  user-select: none;
}
.sidebar .section-1 > p:hover, .sidebar .section-1 > a:hover,
.sidebar .section-2 > p:hover,
.sidebar .section-2 > a:hover,
.sidebar .section-3 > p:hover,
.sidebar .section-3 > a:hover {
  background-color: #22c55e;
  cursor: pointer;
}
.sidebar .section-1 .icon,
.sidebar .section-2 .icon,
.sidebar .section-3 .icon {
  vertical-align: bottom;
  width: 1em;
  margin-right: 20px;
  position: relative;
  bottom: 0.3em;
}
.sidebar .section-1 {
  margin-top: 10px;
}
.sidebar .section-2 {
  display: flex;
  margin-top: -20px;
  flex-direction: column;
}
.sidebar .section-3 {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
